# Diseño y construcción de una bases de datos

### Esquema E-R
El modelo E-R es la herramienta que permite modelar la estructura que seguirá la base de datos que se quiera construir representando el objeto de estudio en el mundo de los datos mediante diagramas que resumen las diferentes estructuras y relaciones propuestas.
Un diagrama o modelo entidad-relación es una herramienta para el modelado de datos que permite representar las entidades relevantes de un sistema de información así como sus interrelaciones y propiedades.

En un Diagrama Entidad Relación se definen conceptos tales como entidad, relación ,atributo y el tipo de dato que los representa, restricciones, restricciones de participación, llave primaria y llave foranea.

### Trigger
Un Trigger, también llamado Disparador, en una base de datos, es un procedimiento que se ejecuta cuando se cumple una condición establecida. Depende de la base de datos, los Triggers pueden ser antes o después de ejecutar un INSERT, UPDATE o DELETE.

Un Trigger funciona tanto al insertar,actualizar o borrar datos en una base de datos o incluso al crear o editar usuarios.

Los Triggers son usados para mejorar la administración de la Base de Datos, sin necesidad de que el usuario ejecute esas sentencias SQL.
La utilidad que se le acostumbra mayoritariamente a dar, es para prevenir errores de datos, actualizar tablas, modificar valores, entre muchas utilidades que el administrador le quiera dar.

### Procedimientos almacenados

Los procedimientos almacenados MySQL, también conocidos como Stored Procedure, se presentan como conjuntos de instrucciones escritas en el lenguaje SQL. Su objetivo es realizar una tarea determinada, desde operaciones sencillas hasta tareas muy complejas. Los procedimientos almacenados MySQL contienen una o más instrucciones SQL además de un procesamiento manipulador o lógico.

La característica fundamental de los procedimientos almacenados MySQL es que estos comandos se quedan almacenados y se ejecutan en el servidor o en el motor de bases de datos. Este aspecto permite que las aplicaciones clientes las ejecuten directamente mediante llamada a una API.

Los procedimientos almacenados MySQL se han diseñado para aligerar a las aplicaciones clientes, pudiendo ejecutar directamente en el servidos aquellas tareas pesadas y que necesitan muchos recursos.

Estas son las características principales de los procedimientos almacenados MySQL:

1)Pueden recibir y devolver parámetros.

2)Pueden manejar tablas, ejecutando operaciones e iteraciones de lectura/escritura.

3)Pueden devolver una tabla como resultado.

4)Se almacenan en la base de datos en la cual se crean.

5)No dependen de ninguna tabla en particular.

6)Pueden aceptar recursividad.

### Funciones

Una función en MySQL es una rutina creada para tomar unos parámetros, procesarlos y retornar en un salida. Se diferencian de los procedimientos almacenados en las siguientes características:

1)Solamente  pueden  tener  parámetros  de  entrada IN y  no  parámetros  de  salida OUT o INOUT

2)Deben retornar en un valor con algún tipo de dato definido

3)Pueden usarse en el contexto de una sentencia SQL

4)Solo retornan un valor individual, no un conjunto de registros

Exploraremos la base de datos employees cuyo diagrama E-R es el siguiente
[Diagrama E-R employees](https://github.com/datacharmer/test_db/blob/master/images/employees.jpg)

In [2]:
USE employees;

In [3]:
SHOW FULL TABLES;

## Algunas consultas

Nombre de los empleados que dirigen cada departamento

In [46]:
SELECT e.first_name, d.dept_name
FROM dept_manager as m
INNER JOIN employees as e
ON m.emp_no = e.emp_no
INNER JOIN departments as d
ON m.dept_no = d.dept_no
ORDER BY (m.dept_no);

Número de empleados por departamento

In [48]:
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_empleados
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
GROUP BY (dep.dept_no);

Número de mujeres en cada departamento

In [50]:
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_mujeres
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
INNER JOIN employees as e
ON de.emp_no = e.emp_no
WHERE e.gender='F'
GROUP BY (dep.dept_no);

Número de hombres en cada departamento

In [52]:
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_hombres
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
INNER JOIN employees as e
ON de.emp_no = e.emp_no
WHERE e.gender='M'
GROUP BY (dep.dept_no);

Salario promedio de mujeres por departamento

In [53]:
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_mujeres, AVG(s.salary) as salario_promedio
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
INNER JOIN employees as e
ON de.emp_no = e.emp_no
INNER JOIN salaries as s
ON e.emp_no = s.emp_no
WHERE e.gender='F'
GROUP BY (dep.dept_no);

Salario promedio de hombres por departamento

In [54]:
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_hombres, AVG(s.salary) as salario_promedio
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
INNER JOIN employees as e
ON de.emp_no = e.emp_no
INNER JOIN salaries as s
ON e.emp_no = s.emp_no
WHERE e.gender='M'
GROUP BY (dep.dept_no);