In [10]:
import sqlalchemy
import pandas as pd

In [6]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [17]:
engine=create_engine("mysql+pymysql://ney:Pala$@localhost:3306/employees")

In [9]:
%sql mysql+pymysql://ney:Pala$@localhost:3306/employees

'Connected: ney@employees'

In [22]:
%sql describe departments;

 * mysql+pymysql://ney:***@localhost:3306/employees
2 rows affected.

[('dept_no', 'char(4)', 'NO', 'PRI', None, ''),
 ('dept_name', 'varchar(40)', 'NO', 'UNI', None, '')]

In [ ]:
%sql
SELECT dep.dept_name, COUNT(DISTINCT(de.emp_no)) as No_empleados
FROM dept_emp as de
INNER JOIN departments as dep
ON de.dept_no = dep.dept_no
GROUP BY (dep.dept_no);